<nav class="navbar navbar-expand-lg bg-body-secondary" style="color: orange;">
  <div class="container-fluid">
    <%= link_to 'Zaposleni', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
            <%= link_to 'Prikaz', zaposlenis_path, class:"nav-link active" %>   
        </li>
        
        <% if user_signed_in? %>
        <li class="nav-item">
            <%= link_to 'Dodavanje', new_zaposleni_path, class:"nav-link active" %>   
        </li>
          <li class="nav-item">
            <%= link_to 'Odjavi se', destroy_user_session_path, method: :delete, class:"nav-link active" %>   
          </li>
          <li class="nav-item">
              <%= link_to 'Izmeni profil', edit_user_registration_path, class:"nav-link active" %>   
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Registruj se', new_user_registration_path, class:"nav-link active" %>   
          </li>
          <li class="nav-item">
              <%= link_to 'Prijavi se', new_user_session_path, class:"nav-link active" %>   
          </li>
        <% end %>

      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>