<div id="<%= dom_id zaposleni %>">


<div class="jumbotron">
  <h1 class="display-4"><%= zaposleni.ime %> <%= zaposleni.prezime %></h1>
  <p class="lead"><%= zaposleni.zanimanje %></p>
  <hr class="my-4">
  <p class="lead">Email:  <%= zaposleni.email %> </p>
  <p class="lead">Telefon:  <%= zaposleni.telefon %> </p>
  <br><br>
</div>






