<!--
<p style="color: green"><%= notice %></p>

<h1>Zaposleni</h1>

<div id="zaposlenis">
  <% @zaposlenis.each do |zaposleni| %>
    <%= render zaposleni %>
    <p>
      <%= link_to "Show this zaposleni", zaposleni %>
    </p>
  <% end %>
</div>

<%= link_to "New zaposleni", new_zaposleni_path %>
=end
-->

<p style="color: green"><%= notice %></p>

<h1>Zaposleni</h1>
<br><br>
<table class="table table-hover">
  <thead class="table-light">
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Zanimanje</th>
      <th>Email</th>
      <th>Telefon</th>
      <th> </th>
      <% if user_signed_in? %>
        <th> </th>
        <th> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @zaposlenis.each do |zaposleni| %>
      <tr>
        <td><%= zaposleni.ime %></td>
        <td><%= zaposleni.prezime %></td>
        <td><%= zaposleni.zanimanje %></td>
        <td><%= zaposleni.email %></td>
        <td><%= zaposleni.telefon %></td>
        <td><%= link_to "Prikaži", zaposleni, class:"btn btn-secondary" %></td>
        <% if user_signed_in? %>
          <td><%= link_to "Izmeni", edit_zaposleni_path(zaposleni), class:"btn btn-secondary" %></td>
          <td><%= link_to "Obriši", zaposleni, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %> 
  <%= link_to "Dodaj", new_zaposleni_path, class:"btn btn-secondary"%>
<% end %>