<p style="color: green"><%= notice %></p>

<%= render @zaposleni %>

<div>
  <%= link_to "Nazad", zaposlenis_path, class:"btn btn-secondary" %>
  
  <br><br>
  
</div>
<div>
  <% if user_signed_in? %>
    <%= link_to "Izmeni podatke", edit_zaposleni_path(@zaposleni),class:"btn btn-secondary" %>
    <%= button_to "Obriši zaposlenog", @zaposleni, method: :delete, class:"btn btn-danger" %>
  <% end %>
</div>
